<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<%- include Partials/splash.ejs%>

    <!--Main content-->
  
<body>
  <div class="splash-container">
    <img src="/Assets/images/tracker.png" alt="Workout Image" class="splash-image">
    <h1>Welcome to Workout Tracker</h1>
    <p>Track your fitness journey with ease and efficiency.</p>
    <p>Click the button in the top right to get started!</p>
<%- include Partials/footer.ejs%>